# Основные библиотеки
pandas==2.1.4
numpy==1.26.4
scipy>=1.11.0

# Машинное обучение
scikit-learn==1.3.2
xgboost>=2.0.0
lightgbm==4.3.0
catboost>=1.2.5

# Дополнительные
python-dateutil>=2.8.0
tqdm>=4.65.0



